
[submodule "jwp-chess"]
	path = jwp-chess
	url = https://github.com/yeonnseok/jwp-chess.git
	branch = tester
[submodule "atdd-subway-admin"]
	path = atdd-subway-admin
	url = https://github.com/yeonnseok/atdd-subway-admin.git
	branch = bossdog
[submodule "atdd-subway-path"]
	path = atdd-subway-path
	url = https://github.com/yeonnseok/atdd-subway-path.git
